body{
    background: #262626;
}
.nav {
    height: 100%;
    width: 60px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: #181818;
}
.nav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.logo{
    padding: 12px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-self: center;
}
img{
    width: 100%;
}
.iconSvg{
    width: 100%;
    height: 20px;
}
.mainIcon .iconSvg{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.socialIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0px;
}
.iconSvg:hover path{
    animation: shade 3s infinite;
}
.iconSvg:hover{
    animation: fill 3s infinite;
}
@keyframes shade {
    0%, 100%{stroke: #0CBEC6}
    50%{stroke: #EA00D9}
}
@keyframes fill {
    0%, 100%{fill: #0CBEC6}
    50%{fill: #EA00D9}
}
.icon{
    display: flex;
    flex-direction: row;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    z-index: 1;
    padding: 0px 16px;
    left: 0px;
}
.dropdown-content a {
    position: absolute;
    font-family: arial;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    transform: rotate(90deg);
    top: 0px;
    width: 130px;
    color: #181818;
}
.icon:hover .dropdown-content {
    display: block;
}
.icon:hover .dropdown-content a {
    display: block;
}
.intro{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 150px;
}
h1{
    font-family: arial;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
    z-index: 2;
}
h1:hover{
    animation: glow 1s infinite linear;
}
@keyframes glow {
    0%{text-shadow: 3px 3px #EA00D9, -3px -3px #0CBEC6;
    transform: skewX(0deg)}
    24%{text-shadow: 3px 1px #EA00D9, 2px -1px #0CBEC6;
    transform: skewX(0deg)}
    25%{text-shadow: 3px 1px #EA00D9, 2px -1px #0CBEC6;
    transform: skewX(30deg)}
    26%{text-shadow: 3px 1px #EA00D9, 2px -1px #0CBEC6;
    transform: skewX(0deg)}
    50%{text-shadow: 2px -1px #EA00D9, -1px 3px #0CBEC6;
    transform: skewX(0deg)}
    74%{text-shadow: -1px 2px #EA00D9, -2px -3px #0CBEC6;
    transform: skewX(0deg)}
    76%{text-shadow: -1px 2px #EA00D9, -3px -2px #0CBEC6;
    transform: skewX(-30deg)}
    78%{text-shadow: 1px 2px #EA00D9, -1px -2px #0CBEC6;
    transform: skewX(0deg)}
    100%{text-shadow: 2px 4px #EA00D9, -1px 3px #0CBEC6;
    transform: skewX(0deg)}
  }
p{
    font-family: arial;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #818181;
    z-index: 2;
}
.jcontainer{
    position: absolute;
    left: 500px;
}
.j{
    position: absolute;
    height: 300px;
    width: 130px;
    background-color: black;
    left: 270px;
    z-index: -2;
  }
  .j::before{
    position: relative;
    content: '';
    display: block;
    width: 140px;
    height: 70px;
    border-bottom-left-radius: 400px;
    border-bottom-right-radius:400px;
    border: 130px solid black;
    border-top: 0;
    top: 300px;
    left: -270px;
  }
  .path {
    fill: none;
    stroke: #0CBEC6;
  }
  .blur {
    filter: url('#dropshadow');
  }